* {
  background-color: black;
}
.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color: rgb(230, 27, 27);
  outline: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(251, 255, 19, 0.93);
    border-radius: 100%;
  }

  50% {
    background-color: rgb(217, 124, 17);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(237, 45, 157);
  }

  100% {
    transform: scale(1);
    background-color: rgb(52, 26, 138);
  }
}

.node-wall {
  background-color: rgb(143, 143, 143);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(244, 247, 24);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(155, 155, 59);
  }

  100% {
    transform: scale(1);
    background-color: rgb(72, 232, 184);
  }
}
